openapi: "3.0.0"
info:
  version: 2.0.0
  title: Lichess.org API reference
  description: "\n\n# Introduction\nWelcome to the reference for the Lichess API!\n\n\
  \ - Get help in the [lichess developers discord channel](https://discord.gg/pw6Efvk),\
  \ or in the #lichess IRC channel on freenode.\n\
  \ - [Contribute to this documentation on Github](https://github.com/lichess-org/api).\n\
  \ - Check out [lichess widgets to embed in your website](https://lichess.org/developers).\n\
  \ - [Download all lichess games](https://database.lichess.org/)\n\
  \n## Endpoint\n\
  \ `https://lichess.org`\n\
  \ ## Rate limiting\n\
  \ All requests are rate limited using various strategies,\
  \ to ensure the API remains responsive for everyone.\n\
  \ Only make one request at a time. If you get a 429 response,\n\
  \ wait one minute before making more requests."
  contact:
    url: https://lichess.org
servers:
  - url: https://lichess.org
paths:
  /account/me:
    get:
      summary: Get profile
      security:
        - OAuth2: []
      description: |
        Public informations about the logged in user.
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPublicInfo'
  /account/preferences:
    get:
      summary: Get preferences
      security:
        - OAuth2: ["preference:read"]
      description: |
        Read the preferences of the logged in user.

        - https://lichess.org/account/preferences
        - https://github.com/ornicar/lila/blob/master/modules/pref/src/main/Pref.scala
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
  /account/kid:
    get:
      summary: Get kid mode status
      security:
        - OAuth2: ["preference:read"]
      description: |
        Read the kid mode status of the logged in user.

        - https://lichess.org/account/kid
      responses:
        200:
          content:
            application/json:
              schema:
                properties:
                  kid:
                    type: boolean
                example:
                  kid: false
    post:
      summary: Set kid mode status
      security:
        - OAuth2: ["preference:write"]
      description: |
        Set the kid mode status of the logged in user.

        - https://lichess.org/account/kid
      parameters:
        - in: query
          name: v
          required: true
          description: Kid mode status
          schema:
            type: boolean
          example: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
  /games/export/mine:
    get:
      summary: Export games
      security:
        - OAuth2: ["game:read"]
      description: |
        Download all your games in PGN format. Optionally specify a start and end timestamps for partial exports.

        Games are sorted by reverse chronological order (most recent first)

        We recommend streaming the response, for it can be very long.
        https://lichess.org/@/german11 for instance has more than 250,000 games.
      parameters:
        - in: query
          name: since
          description: Download games played since this timestamp.
          schema:
            type: integer
            minimum: 1356998400070
        - in: query
          name: until
          description: Download games played until this timestamp.
          schema:
            type: integer
            minimum: 1356998400070
        - in: query
          name: max
          description: How many games to download. Leave empty to download all games.
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          content:
            application/x-chess-pgn:
              example: |
                [Event "Rated Blitz game"]
                [Site "https://lichess.org/fY44h4OY"]
                [Date "2018.03.29"]
                [Round "-"]
                [White "pveldman"]
                [Black "thibault"]
                [Result "1-0"]
                [UTCDate "2018.03.29"]
                [UTCTime "01:38:15"]
                [WhiteElo "1610"]
                [BlackElo "1601"]
                [WhiteRatingDiff "+10"]
                [BlackRatingDiff "-10"]
                [Variant "Standard"]
                [TimeControl "180+0"]
                [ECO "C62"]
                [Opening "Ruy Lopez: Steinitz Defense"]
                [Termination "Normal"]
                [Event "U1700 SuperBlitz Arena"]

                1. e4 { [%clk 0:03:00] } e5 { [%clk 0:03:00] } 2. Nf3 { [%clk 0:02:59] } Nc6 { [%clk 0:02:58] } 3. Bb5 { [%clk 0:02:57] } d6 { [%clk 0:02:55] } 4. h3 { [%clk 0:02:54] } Nf6 { [%clk 0:02:52] } 5. Bxc6+ { [%clk 0:02:52] } bxc6 { [%clk 0:02:49] } 6. d3 { [%clk 0:02:51] } Be7 { [%clk 0:02:46] } 7. O-O { [%clk 0:02:47] } O-O { [%clk 0:02:45] } 8. b3 { [%clk 0:02:45] } d5 { [%clk 0:02:45] } 9. exd5 { [%clk 0:02:33] } cxd5 { [%clk 0:02:40] } 10. Nxe5 { [%clk 0:02:31] } Qd6 { [%clk 0:02:38] } 1-0


                [Event "Rated Blitz game"]
                [Site "https://lichess.org/zoYu3nlQ"]
                [Date "2018.03.29"]
                [Round "-"]
                [White "thibault"]
                [Black "pveldman"]
                [Result "0-1"]
                [UTCDate "2018.03.29"]
                [UTCTime "01:33:15"]
                [WhiteElo "1611"]
                [BlackElo "1599"]
                [WhiteRatingDiff "-10"]
                [BlackRatingDiff "+11"]
                [Variant "Standard"]
                [TimeControl "180+0"]
                [ECO "C37"]
                [Opening "King's Gambit Accepted, King's Knight Gambit"]
                [Termination "Normal"]

                1. e4 { [%clk 0:03:00] } e5 { [%clk 0:03:00] } 2. f4 { [%clk 0:03:00] } exf4 { [%clk 0:02:58] } 3. Nf3 { [%clk 0:02:57] } g5 { [%clk 0:02:56] } 4. Bc4 { [%clk 0:02:57] } d6 { [%clk 0:02:53] } 5. O-O { [%clk 0:02:53] } 0-1

components:
  schemas:
    UserPublicInfo:
      example: {
        "id": "thibault",
        "username": "thibault",
        "online": true,
        "createdAt": 1290415680000,
        "seenAt": 1522636452014,
        "profile": {
            "bio": "Free bugs!",
            "country": "EC",
            "firstName": "Thibault",
            "lastName": "Duplessis",
            "links": "github.com/ornicar\r\ntwitter.com/ornicar",
            "location": "On the road"
        },
        "nbFollowers": 2735,
        "nbFollowing": 299,
        "completionRate": 97,
        "count": {
            "ai": 531,
            "all": 9265,
            "bookmark": 71,
            "draw": 340,
            "drawH": 331,
            "import": 66,
            "loss": 4480,
            "lossH": 4207,
            "me": 0,
            "playing": 6,
            "rated": 7157,
            "win": 4440,
            "winH": 4378
        },
        "language": "en-GB",
        "patron": true,
        "perfs": {
            "blitz": {
                "games": 2945,
                "prog": -22,
                "rating": 1609,
                "rd": 60
            },
            "bullet": {
                "games": 2324,
                "prog": -9,
                "rating": 1602,
                "rd": 61
            },
            "chess960": {
                "games": 347,
                "prog": 84,
                "rating": 1554,
                "rd": 66
            },
            "puzzle": {
                "games": 2248,
                "prog": -67,
                "rating": 1737,
                "rd": 63
            },
        },
        "playTime": {
            "total": 3296897,
            "tv": 12134
        },
        "playing": "https://lichess.org/ZGcyzmfB/white",
    }

    UserPreferences:
      example: {
        "prefs":{
          "dark":true,
          "transp":false,
          "bgImg":"http://media.blizzard.com/sc2/media/wallpapers/wall080/wall080-1920x1080.jpg",
          "is3d":false,
          "theme":"wood2",
          "pieceSet":"go",
          "theme3d":"Light-Wood",
          "pieceSet3d":"Staunton",
          "soundSet":"silent",
          "blindfold":0,
          "autoQueen":2,
          "autoThreefold":2,
          "takeback":3,
          "clockTenths":1,
          "clockBar":true,
          "clockSound":true,
          "premove":true,
          "animation":2,
          "captured":true,
          "follow":true,
          "highlight":true,
          "destination":true,
          "coords":2,
          "replay":2,
          "challenge":3,
          "message":3,
          "coordColor":1,
          "submitMove":0,
          "confirmResign":1,
          "insightShare":2,
          "keyboardMove":0,
          "zen":0,
          "moveEvent":2
        }
    }

    Ok:
      properties:
        ok:
          type: boolean
      example:
        ok: true

    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

  securitySchemes:
    OAuth2:
      type: oauth2
      description: "### Authorization Code Flow\n\
        \ The authorization code flow allows your users to **login with lichess**.\n\
        \ - [NodeJS example](https://github.com/lichess-org/api/tree/master/example/oauth-authorization-code)\n\
        \ - [Create a Lichess OAuth app](https://lichess.org/account/oauth/app)\n\
        \ - [About authorization code flow]( [More info](https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2)\n\
        \n### Personal API Token\n\
        \ Personal API tokens allow you to quickly interact with Lichess OAuth API.\n\
        \ - `curl https://lichess.org/account/me -H \"Authorization: Bearer <token>\"`\n\
        \ - [NodeJS example](https://github.com/lichess-org/api/tree/master/example/oauth-personal-token)\n\
        \ - [Generate a personal API token](https://lichess.org/account/oauth/token)"
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.lichess.org/oauth/authorize
          tokenUrl: https://oauth.lichess.org/oauth
          scopes:
            "game:read": Download all your games
            "preference:read": Read your preferences
            "preference:write": Write your preferences
