<!DOCTYPE html>
{{!-- Based on https://github.com/Redocly/redocly-cli/blob/bbcdb889caecd31d24db483d353c80a59e032214/packages/cli/src/commands/build-docs/template.hbs --}}
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 0;
      margin: 0;
      word-break: break-word;
    }
  </style>
  {{{redocHead}}}
</head>

<body>
  {{{redocHTML}}}
</body>

</html>
